
week1/hw0provided.sml
*.sml~
admin/Codefiles/10_repl.txt
admin/Codefiles/11_list_functions.sml
admin/Codefiles/12_let_expressions.sml
admin/Codefiles/13_nested_functions.sml
admin/Codefiles/14_let_efficiency.sml
admin/Codefiles/15_options.sml
admin/Codefiles/3_our_first_program.sml
admin/Codefiles/5_errors_fixed.sml
admin/Codefiles/5_some_errors.sml
admin/Codefiles/7_functions.sml
admin/Codefiles/6_shadowing.sml
admin/Codefiles/9_tuples.sml
admin/section1sum.pdf
